{% extends "base.html" %}

{% block body %}
<h1><span class="fw-light">Meeting #{{ meeting.id }}</span> {{ book.title }}</h1>
{{ form|safe }}
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
<script>
    function toLocaleTime(dateString) {
        let date = new Date(dateString)
        return `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}T${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}`
    }
    function getLocalTimezone() {
        return Intl.DateTimeFormat().resolvedOptions().timeZone
    }
    htmx.onLoad(function (content) {
        var sortables = content.querySelectorAll(".sortable");
        for (var i = 0; i < sortables.length; i++) {
            var sortable = sortables[i];
            var sortableInstance = new Sortable(sortable, {
                animation: 150,
                group: 'shared',
                handle: '.handle',
                disabled: sortable.classList.contains('disabled'),
                // TODO: disabled: cannot use askama vars here, it causes everything to format shitty.
                ghostClass: 'blue-background-class',

                // Make the `.htmx-indicator` unsortable
                filter: ".no-sort",
                onMove: function (evt) {
                    return evt.related.className.indexOf('htmx-indicator') === -1;
                },

                // Disable sorting on the `end` event
                onEnd: function (evt) {
                    this.option("disabled", true);
                    var inputElement = evt.item.querySelector('input');
                    if (evt.to.id === 'order') {
                        inputElement.name = `user_id`;
                    } else {
                        inputElement.name = `bench_user_id`;
                    }
                    evt.item.dispatchEvent(new CustomEvent('sorted', { bubbles: true }));
                }
            });

            // Re-enable sorting on the `htmx:afterSwap` event
            document.addEventListener("htmx:afterSwap", function () {
                sortableInstance.option("disabled", false);
            });
        }
    })
</script>
{% endblock %}