{% extends "base.html" %}

{% block body %}
<div class="list-group">
    {% for (date, meeting_group) in meetings %}
    <div class="list-group-item">
        <div class="row">
            <div class="col-sm-3">
                <h5>{{ date.format("%d %b, %a") }}</h5>
            </div>
            <div class="col-sm">
                <li class="list-group list-group-flush">
                    {% for meeting in meeting_group %}
                    {{ meeting }}
                    {% endfor %}
                </li>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}