<div class="col">
    <div class="card">
        <div class="card-header">
            {{ circuit }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ author }}</h6>
            <p class="card-text">{{ username }}</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ isbn10 }}-modal">
                Details
            </button>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="{{ isbn10 }}-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="{{ isbn10 }}-modal-label">{{ title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ isbn10 }}
                {{ isbn13}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>