<style>
    .sortable.disabled .list-group-item {
        background-color: var(--bs-secondary-bg);
    }
</style>
<form id="meeting-form"
      class="form">
    <div class="form-group">
        <label for="location">Location</label>
        <input {% if !editable %}disabled{% endif %}
               type="text"
               class="form-control"
               id="location"
               name="location"
               value="{{ meeting.location }}"
               _="on htmx:beforeSend toggle .border-warning until htmx:afterSwap"
               hx-ext="debug"
               hx-post="/meetings/{{ meeting.id }}"
               hx-swap="none"
               hx-trigger="keyup changed delay:1s">
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        {% set date = meeting.date.format("%Y-%m-%dT%H:%M") %}
        <input {% if !editable %}disabled{% endif %}
               type="datetime-local"
               class="form-control"
               id="date"
               name="date"
               value="{{ date }}"
               _="init call toLocaleTime('{{ meeting.date.to_rfc3339() }}') put it into my.value"
               hx-post="/meetings/{{ meeting.id }}"
               hx-disabled-elt="this"
               hx-trigger="change changed delay:500ms">
        <input type="hidden"
               name="timezone"
               value="UTC"
               _="init call getLocalTimezone() put it into my.value">
    </div>
    <div class="form-group">
        <div class="row"
             hx-trigger="sorted"
             hx-post="/meetings/{{ meeting.id }}"
             hx-swap="none">
            <div class="col">
                <label for="order">Current Order</label>
                <ul class="sortable list-group {% if !editable %}disabled{% endif %}"
                    id="order">
                    {% for user in next_meeting_template.order %}
                    <li class="list-group-item {% if loop.first %}no-sort{% endif %}">
                        <input type="hidden"
                               name="user_id"
                               value="{{ user.id }}" />
                        {% if !loop.first && editable %}
                        <span class="material-symbols-outlined align-bottom handle"
                              style="cursor: move">
                            drag_indicator
                        </span>
                        {% endif %}
                        {{ user.name }}
                        {% if loop.first %}
                        <span class="fw-light text-secondary">(Dungeon Master)</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <label for="bench">Bench</label>
                <ul class="sortable list-group {% if !editable %}disabled{% endif %}"
                    id="bench">
                    {% for user in next_meeting_template.bench %}
                    <li class="list-group-item">
                        <input type="hidden"
                               name="bench_user_id"
                               value="{{ user.id }}" />
                        {% if editable %}
                        <span class="material-symbols-outlined align-bottom handle"
                              style="cursor: move">
                            drag_indicator
                        </span>
                        {% endif %}
                        {{ user.name }}
                    </li>
                    {% endfor %}
            </div>
        </div>
    </div>
    <br>
    {% if meeting.next_meeting_id.is_none() %}
    <button type="button"
            class="btn btn-success {% if !editable %}disabled{% endif %}"
            hx-post="/meetings/{{ meeting.id }}/next"
            hx-swap="outerHTML"
            hx-target="#meeting-form"
            hx-disable-elt="this">
        Complete Meeting
    </button>
    {% else %}
    <a href="/meetings/{{ meeting.next_meeting_id.unwrap() }}"
       class="btn btn-primary">
        View Next Meeting
    </a>
    {% endif %}
    <a href="/books/{{ book.id }}"
       class="btn btn-primary {% if !editable %}disabled{% endif %}">
        Edit Book
    </a>
</form>