{% extends "base.html" %}

{% block body %}
<h1><span class="fw-light">Meeting #{{ meeting.id }}</span> {{ book.title }}</h1>
<!-- TODO: Refactor form into a component so we can reduce bandwidth on save -->
<div _="on every htmx:beforeSend toggle @disabled on .form-control until htmx:afterOnLoad">
<form hx-post="/meetings/{{ meeting.id }}" {% if !editor %}hx-disable{% endif %}>
    <div class="form-group">
        <label for="location">Location</label>
        <input {% if !editor %}disabled{% endif %} type="text" class="form-control" id="location" name="location"
            value="{{ meeting.location }}" hx-post="/meetings/{{ meeting.id }}" hx-trigger="keyup changed delay:500ms"
        >
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        {% set date = meeting.date.format("%Y-%m-%dT%H:%M") %}
        <input {% if !editor %}disabled{% endif %} type="datetime-local" class="form-control" id="date" name="date"
            value="{{ date }}" _="init call toLocaleTime('{{ meeting.date.to_rfc3339() }}') put it into my.value" 
            hx-post="/meetings/{{ meeting.id }}" 
            hx-trigger="change changed delay:500ms"
        >
        <input type="hidden" name="timezone" value="UTC" _="init call getLocalTimezone() put it into my.value">
    </div>
    <div class="form-group">
        <label for="sortable">Current Order</label>
        <ul class="sortable list-group" hx-post="/meetings/{{ meeting.id }}" hx-trigger="end" hx-target="previous form">
            {% for user in next_meeting_template.order %}
            <li class="list-group-item {% if loop.first %}no-sort{% endif %}"><input type="hidden" name="user_id" value="{{ user.id }}"/>{{ user.name }}</li>
            {% endfor %}
        </ul>
    </div>
</form>
    <span id="saving" class="htmx-indicator">Saving</span>
</div>
{% endblock %}

{% block scripts %}

<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script>
    function toLocaleTime(dateString) {
        let date = new Date(dateString)
        return `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}T${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}`
    }
    function getLocalTimezone() {
        return Intl.DateTimeFormat().resolvedOptions().timeZone
    }
    htmx.onLoad(function(content) {
        var sortables = content.querySelectorAll(".sortable");
        for (var i = 0; i < sortables.length; i++) {
          var sortable = sortables[i];
          var sortableInstance = new Sortable(sortable, {
              animation: 150,
              ghostClass: 'blue-background-class',
    
              // Make the `.htmx-indicator` unsortable
              filter: ".no-sort",
              onMove: function (evt) {
                return evt.related.className.indexOf('htmx-indicator') === -1;
              },
    
              // Disable sorting on the `end` event
              onEnd: function (evt) {
                this.option("disabled", true);
              }
          });
    
          // Re-enable sorting on the `htmx:afterSwap` event
          document.addEventListener("htmx:afterSwap", function() {
            sortableInstance.option("disabled", false);
          });
        }
    })
</script>
{% endblock %}
